body {
    background-image: url(images/img00.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 10% 0 10%;
    cursor: url(images/cursor.png.png) 0 0, auto;
}
h1 {
    text-align: center;
    padding: 10px;
}
p {
    text-align: justify;
    padding: 10px;
    padding-top: 0px;
}
p a {
    text-decoration: none;
}
a {
    position: relative;
    top:-10px;
    bottom: 10px;
    cursor: inherit;
   
}
hr {
    margin: 10px
}
h2 {
    text-align: center;
    padding: 10px;
}
h4 {
    color: brown;
    text-align: justify;
    padding: 10px;
    padding-bottom: 0px;
}
nav {
    border-radius: 10px;
    text-align: center;
    display: inline;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
nav li {
    display: inline;
    margin-left: 20px;
    margin: 0 10px;
}
nav:hover {
    transform: scale(0.0);
    background-color: transparent;
    border: 0px solid rgb(170, 162, 162);
}
nav a {
    display: inline;
    padding: 1%;
    background-color: rgb(245, 229, 236);
    color: black;
    border-radius: 2em;
    text-decoration: none;
    cursor: inherit;
    margin: 10px;
    border: 3px solid rgb(216, 188, 241);
}
nav a:hover{
    transform: scale(1.1);
    background-color: rgb(224, 215, 233);
}
.myproject:hover {
    padding: 1%;
    text-align: center;
    display: inline;
    border: 2px solid rgb(228, 201, 223);
    border-radius: 1em;
    text-align: justify;
}
.contactme:hover {
    padding: 1%;
    text-align: center;
    display: inline;
    border: 2px solid rgb(216, 151, 204);
    border-radius: 1em;
    text-align: justify;
}
.info {
    text-align: center;
    background-color: rgb(248, 233, 233);
    border-radius: 20px;
    border: 3px solid rgb(216, 188, 241);
    margin border-bottom: 20px;    
}
.info:hover{
    background-color: rgb(223, 185, 210);
}
table {
    width: 50%;
    display: block;
    margin: auto;
    padding: 1em;
    background-color: rgb(243, 230, 213);
    border-collapse: collapse;
    text-align: center;
}
.myproject {
    padding: 1%;
    text-align: center;
    display: inline;
    border: 2px solid rgb(25, 25, 26);
    border-radius: 20px;
    text-align: center;
    
}
.contactme {
    padding: 1%;
    text-align: center;
    display: inline;
    border: 2px solid rgb(36, 35, 35);
    border-radius: 20px;
}
#footer{
    text-align: center;
  
}
#kd {
    background-color: rgb(240, 231, 220);
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    border: 3px solid rgb(216, 188, 241);
}
#kd:hover{
    background-color: rgb(223, 185, 210);
}
.edu{
    border-radius: 10px solid black;
    box-sizing: border-box;
    margin: 30px;
    box-shadow: 1px 1px 4px 4px pink;
    background-color: antiquewhite;
}
section{
    border-radius: 2px solid black;
}
label{
    position: relative;
    top: -10px;
    right: -5px;

}