body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
div {
    width: 20%;
    background-color: antiquewhite;
    color: black;
    border-radius: 10px;
    padding: 1rem;
}